node_modules
build
tmp/*
!tmp/.gitkeep

.env
.env.*
!.env.example

storage/backups
storage/app/documents/*
storage/app/report-templates/*

public/assets

.git
.gitignore
.fleet
.idea
.vscode
.DS_Store

npm-debug.log
yarn-error.log

tests
docs

.cursor
*.plan.md
